* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Usamos dvh para adaptarnos a las barras del navegador del celu */
html, body {
    height: 100vh;
    height: 100dvh; 
    width: 100vw;
    overflow: hidden; /* Prohíbe totalmente el scroll */
    background: #E51000;
    font-family: 'Sekuya', serif;
}

.pantalla {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #df1f11;
}

/* 1. EL OJO: Ocupa el 22% superior de la pantalla */
.ojo {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);

    width: 80vw;
    height: 22vh; /* Limite de alto fijo para que no empuje todo hacia abajo */
    object-fit: contain;

    z-index: 3;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.ojo:hover {
    transform: translateX(-50%) scale(1.03);
    filter: drop-shadow(0 0 15px rgba(255, 220, 80, 0.6));
}

/* 2. EL TÍTULO: Ubicado justo en el centro vertical */
.titulo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    font-family: 'Sekuya', serif;
    font-size: clamp(38px, 9vw, 120px);
    color: #bfa301;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    white-space: nowrap;

    -webkit-text-stroke: 2px #000000;
}

/* 3. LAS PERSONAS: Pegadas abajo de todo ocupando el 20% inferior */
.personas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Entra seguro en la pantalla */
    object-fit: cover;
    object-position: bottom center;
    z-index: 4;
}

/* 4. LA LUZ: Nace de la pupila y baja por detrás de las personas */
.luz {
    position: absolute;
    left: 50%;
    top: 8vh;

    width: 75vw;
    height: 100vh;

    transform-origin: top center;

    background: linear-gradient(
        to bottom,
        rgba(255, 220, 80, 0.65),
        rgba(255, 220, 80, 0.15),
        transparent
    );

    clip-path: polygon(45% 0%, 55% 0%, 100% 100%, 0% 100%);
    animation: vigilar 6s ease-in-out infinite;
    filter: blur(2px);
    z-index: 1; 
}

@keyframes vigilar {
    0% {
        transform: translateX(-50%) rotate(-18deg);
    }
    50% {
        transform: translateX(-50%) rotate(18deg);
    }
    100% {
        transform: translateX(-50%) rotate(-18deg);
    }
}

/* --- AJUSTES EN PANTALLAS GRANDES DE COMPUTADORA --- */
@media (min-width: 768px) {
    .ojo {
        top: 20px;
        width: 600px;
        height: 30vh;
    }

    .luz {
        top: 130px;
        width: 480px;
    }

    .personas {
        height: 28vh;
    }

    .titulo {
        top: 48%;
        -webkit-text-stroke: 3px #000000;
    }
}
